body{
  background-color: #C5E1A5;
  font: optional;
  font-family:Arial, Helvetica, sans-serif; 
}

  h1,h2 {
    text-align: center;
    color: #33691E;
  }
  
  #population-analysis, #language-analysis, #currency-analysis {
    margin: 20px 0;
    text-align: center;
  }
  
  #most-populous-country, #least-populous-country, #english-speaking-countries, #euro-and-pound-countries {
    margin: 10px 0;
  }
 
  button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:	#689F38;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: green;}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


